
*.class
*.war
*.classpath
*.settings
*.project
*.log
*target
*metadata
*Servers
*.vscode
*.DS_Store
*.cmd
*.springBeans
*.iml
.springBeans
/.DS_Store/
/DS_Store/
/build/
node_modules/
/node_modules/
.idea/
